* {
    box-sizing: border-box;
}

.sliderr {
    width: 770px;
    text-align: center;
    overflow: hidden;
}

.slidess {
    display: flex;

    overflow-x: auto;
    scroll-snap-type: x mandatory;



    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
}
.slidess::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.slidess::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}
.slidess::-webkit-scrollbar-track {
    background: transparent;
}
.slidess > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 770px;
    height: 400px;
    margin-right: 50px;
    border-radius: 10px;
    background: #fff;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
.slides > div:target {
    /*   transform: scale(0.8); */
}
.author-info {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0.75rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
}
.author-info a {
    color: white;
}
.img0001{
    background-image: url("0307.jpeg");
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}


.img0002{
    background-image: url("1014.jpeg");
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}


.img0003{
    background-image: url("1721.jpeg");
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}


.img0004{
    background-image: url("2428.jpeg");
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}


.img0005{
    background-image: url("3110.jpeg");
    object-fit: cover;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    left: 0;
    width: 100%;
    height: 100%;
}

.sliderr > a {
    display: inline-flex;
    width: 6.5rem;
    height: 2.5rem;
    background: black;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    margin: 0 0 0.5rem 0;
    position: relative;
}
.sliderr > a:active {
    top: 1px;
}

.sliderr > a:focus {
    background: white;
    color: black;
}

@supports (scroll-snap-type) {
    .sliderr > a {
        display: none;
    }
}

@media (max-width: 999px) {
    .sliderr {
        width: 390px;
        transform: translate(-1%);
    }

    .slidess > div {
        width: 390px;
        height: 280px;
        left: 60%;
        transform: translate(-40%);
    }
    img{
        max-width: 400px;
        max-height: 280px;
        width: auto;
        height: auto;
    }
}